<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, EJS!</h1>
    <h2>Hi there, <%= user.name %>!</h2>
    <p>Your favorite color is <%= user.color %>.</p>
    <p>Your favorite food is <%= user.food %>.</p>
    <p>Your grade is <%= user.grade %>.</p>
    <p>Your age is <%= user.age %>.</p>
    <p>Your favorite hobbies are <%= user.hobbies.join(', ') %>.</p>

    <% if (user.grade > 2.0) { %>
        <p>You're passing!</p>
    <% } else { %>
        <p>You need to study harder</p>
        <% }%>
    <% if (user.age >= 21) { %>
        <p>Let's party!</p>
    <% } else { %>
        <p>Go home.</p>
    <% } %>
</body> 
</html>